<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Memo game</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Welcome to memo game!</h1>
      <p>Use default set or prepare your own.</p>
      <hr>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose set
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for col in img_collections %}
          <a class="dropdown-item" href="{{ col }}">{{ col}}</a>
          {% endfor %}

        </div>
      </div>
      <h1>Upload an image</h1>
            <hr>

            <form action="/upload-image" method="POST" enctype="multipart/form-data">

              <div class="form-group">
                <label>Select image</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="files[]" multiple="true" id="image">
                  <label class="custom-file-label" for="image">Select image...</label>
                </div>
              </div>




              <button type="submit" class="btn btn-primary">Upload</button>

            </form>

    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
